
.logo{
  font-family:Elephant;
  text-shadow: 0.5px 0.5px #130c0e;}

.tip{
  width:210px;
  float:left;
  background:white;
  margin:2px}

.father{
  font-weight:bold}

.process_bar{
  border-radius:4px;
  background:white;
  height:20px;
  width:200px}

.process_bar div{border-radius:4px;}
